* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 13%;
}

.bg-colorBlue {
  background-color: #0282f9;
}

header nav .areaTopNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 0;
}

header nav .areaTopNav h5 {
  margin: 0 20px;
  font-size: 0.7rem;
  color: #fff;
}

header nav .areaTopNav h5 span {
  font-size: 0.5rem;
  vertical-align: top;
}

header nav .areaTopNav h5:nth-child(2) {
  cursor: pointer;
}

header nav .areaMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .areaMenu .img {
  width: 80px;
  min-width: 80px;
}

header nav .areaMenu .img img {
  width: 100%;
}

header nav .areaMenu .menu ul {
  list-style-type: none;
  display: flex;
}

header nav .areaMenu .menu ul .active {
  height: 115px;
  border-bottom: 5px solid #0282f9;
}

header nav .areaMenu .menu ul .active a {
  color: #0282f9 !important;
}

header nav .areaMenu .menu ul li {
  height: 110px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header nav .areaMenu .menu ul li a {
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 0.9rem;
}

header nav .areaMenu .menu ul li a span {
  font-size: 0.6rem;
  padding: 5px;
  vertical-align: 30%;
  color: #0282f9;
}

header nav .areaMenu .menu ul li:hover a {
  color: #0282f9;
}

header nav .areaMenu .search {
  display: flex;
  border-bottom: 3px solid #0282f9;
  margin-left: 30px;
}

header nav .areaMenu .search #inputSearch {
  width: 100px;
  border: none;
  text-align: end;
  padding-right: 5px;
  padding-bottom: 3px;
  outline: none;
  font-weight: 600;
}

header .jumbo {
  height: 350px;
}

header .jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .areaHomeTop {
  background-color: #303030;
}

main .areaHomeBottom ul {
  padding: 40px 5%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

main .areaHomeBottom ul li {
  display: flex;
  align-items: center;
  width: 100%;
}

main .areaHomeBottom ul li img {
  max-height: 55px;
}

main .areaHomeBottom ul li h4 {
  color: #fff;
  margin: 0 10px;
  font-size: 0.9rem;
  font-weight: 400;
}

footer .areaLinksTop {
  padding: 25px 0;
  position: relative;
  overflow: hidden;
}

footer .areaLinksTop .links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .areaLinksTop .links .column {
  width: 33.3333333333%;
}

footer .areaLinksTop .links .column h2 {
  color: #fff;
  font-size: 1.3rem;
  margin: 20px 0;
}

footer .areaLinksTop .links .column ul {
  list-style-type: none;
}

footer .areaLinksTop .links .column ul li {
  margin: 4px 0;
}

footer .areaLinksTop .links .column ul li a {
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-size: 0.9rem;
}

footer .areaLinksTop .links .column ul li a:hover {
  text-decoration: underline;
}

footer .areaLinksTop .areaCookies {
  width: 50%;
}

footer .areaLinksTop .areaCookies p {
  color: rgb(126, 126, 126);
  font-size: 0.9rem;
  margin: 15px 0;
}

footer .areaLinksTop .areaCookies p a {
  text-decoration: none;
  color: #0282f9;
}

footer .areaLinksTop #logoFooterBg {
  position: absolute;
  top: -15%;
  right: 13%;
  transform: scale(1.05);
}

footer .areaLinksBottom {
  background-color: #303030;
}

footer .areaLinksBottom .footerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .areaLinksBottom .footerButton .areaButton input {
  padding: 10px 15px;
  background: none;
  color: #fff;
  border: 3px solid #0282f9;
  cursor: pointer;
}

footer .areaLinksBottom .footerButton .areaSocial {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

footer .areaLinksBottom .footerButton .areaSocial h2 {
  color: #0282f9;
  font-size: 1.1rem;
  margin: 0 10px;
}

footer .areaLinksBottom .footerButton .areaSocial ul {
  list-style-type: none;
  display: flex;
}

footer .areaLinksBottom .footerButton .areaSocial ul li {
  margin: 8px;
}

