* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 13%;
}

.containerLarge {
  display: flex;
  flex-direction: column;
  padding: 0 8%;
}

.bg-colorBlue {
  background-color: #0282f9;
}

header nav .areaTopNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 0;
}

header nav .areaTopNav h5 {
  margin: 0 20px;
  font-size: 0.7rem;
  color: #fff;
}

header nav .areaTopNav h5 span {
  font-size: 0.5rem;
  vertical-align: top;
}

header nav .areaTopNav h5:nth-child(2) {
  cursor: pointer;
}

header nav .areaMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .areaMenu .img {
  width: 80px;
  min-width: 80px;
}

header nav .areaMenu .img img {
  width: 100%;
}

header nav .areaMenu .menu ul {
  list-style-type: none;
  display: flex;
}

header nav .areaMenu .menu ul .active {
  height: 115px;
  border-bottom: 5px solid #0282f9;
}

header nav .areaMenu .menu ul .active a {
  color: #0282f9 !important;
}

header nav .areaMenu .menu ul li {
  height: 110px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header nav .areaMenu .menu ul li a {
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 0.9rem;
}

header nav .areaMenu .menu ul li a span {
  font-size: 0.6rem;
  padding: 5px;
  vertical-align: 30%;
  color: #0282f9;
}

header nav .areaMenu .menu ul li:hover a {
  color: #0282f9;
}

header nav .areaMenu .search {
  display: flex;
  border-bottom: 3px solid #0282f9;
  margin-left: 30px;
}

header nav .areaMenu .search #inputSearch {
  width: 100px;
  border: none;
  text-align: end;
  padding-right: 5px;
  padding-bottom: 3px;
  outline: none;
  font-weight: 600;
}

main h1 {
  padding: 30px 0 300px;
}

main .home .areaImage {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

main .home .areaImage .descriptionImage,
main .home .areaImage .descriptionImageBottom {
  color: #fff;
  padding: 40px 20px;
}

main .home .areaImage .descriptionImage h2,
main .home .areaImage .descriptionImageBottom h2 {
  font-size: 1.8rem;
  padding: 10px 0;
}

main .home .areaImage .descriptionImage p,
main .home .areaImage .descriptionImageBottom p {
  line-height: 1.5rem;
}

main .home .areaImage .descriptionImage {
  position: absolute;
  width: 35%;
  bottom: 10%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgb(255, 0, 208);
}

main .home .areaImage .descriptionImageBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

main .home .areaImage .descriptionImageBottom h2 {
  font-size: 3rem !important;
  padding: 30px 0 10px;
}

main .home .areaImage .descriptionImageBottom input {
  color: #fff;
  width: 160px;
  border: 1px solid #fff;
  background: none;
  border-radius: 25px;
  padding: 15px 0;
  margin-top: 15px;
  font-weight: 600;
  transition: background-color 0.5s, border 0.5s;
  cursor: pointer;
}

main .home .areaImage .descriptionImageBottom input:hover {
  border: 1px solid #0282f9;
  background-color: #0282f9;
}

main .home .title {
  text-align: center;
  font-size: 2.3rem;
  color: rgb(255, 0, 208);
  padding: 10px 0;
  border-bottom: 5px solid rgb(149, 0, 157);
}

main .home .cards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 0;
}

main .home .cards .card {
  width: calc(25% - 30px);
  min-height: 450px;
  margin: 15px;
  box-shadow: 5px 5px 10px rgb(201, 201, 201);
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
}

main .home .cards .card:hover {
  transform: scale(1.05);
}

main .home .cards .card .imageCard {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 250px;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 0px 99%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 0px 99%);
}

main .home .cards .card h2 {
  padding: 15px;
}

main .home .cards .card h3 {
  color: rgb(126, 126, 126);
  font-weight: 400;
  font-size: 0.9rem;
  padding: 10px;
}

main .home .cardsRelease {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 0;
}

main .home .cardsRelease .card {
  width: calc(25% - 30px);
  min-height: 450px;
  margin: 15px;
  text-align: center;
  cursor: pointer;
}

main .home .cardsRelease .card .imageCard {
  width: 70%;
}

main .home .cardsRelease .card h2 {
  padding: 15px;
}

main .home .jumboBottom {
  background: rgb(48, 0, 72);
  background: linear-gradient(54deg, rgb(48, 0, 72) 0%, rgb(94, 0, 201) 100%);
  height: 400px;
  margin-bottom: 20px;
}

main .jumbo {
  height: 350px;
}

main .jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .areaComicsTop {
  padding: 40px 0px 20px;
  background-color: #303030;
}

main .areaComicsTop .cards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  position: relative;
}

main .areaComicsTop .cards > h2 {
  position: absolute;
  top: -65px;
  left: -10px;
  background-color: #0282f9;
  color: #fff;
  padding: 10px 25px;
}

main .areaComicsTop .cards input {
  background-color: #0282f9;
  border: none;
  color: #fff;
  padding: 10px 55px;
  font-weight: 600;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s;
  cursor: pointer;
}

main .areaComicsTop .cards input:hover {
  transform: translateX(-50%) scale(1.1);
}

main .areaComicsTop .cards .card {
  width: 16.6666666667%;
}

main .areaComicsTop .cards .card .imageCard {
  width: 180px;
  height: 180px;
  padding: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: transform 0.5s;
  cursor: pointer;
}

main .areaComicsTop .cards .card .imageCard:hover {
  transform: scale(1.1);
}

main .areaComicsTop .cards .card h3 {
  color: #fff;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 10px 0;
  font-weight: 500;
}

main .areaComicsBottom ul {
  padding: 40px 5%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

main .areaComicsBottom ul li {
  display: flex;
  align-items: center;
  width: 100%;
}

main .areaComicsBottom ul li img {
  max-height: 55px;
}

main .areaComicsBottom ul li h4 {
  color: #fff;
  margin: 0 10px;
  font-size: 0.9rem;
  font-weight: 400;
}

footer .areaLinksTop {
  padding: 25px 0;
  position: relative;
  overflow: hidden;
}

footer .areaLinksTop .links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .areaLinksTop .links .column {
  width: 33.3333333333%;
}

footer .areaLinksTop .links .column h2 {
  color: #fff;
  font-size: 1.3rem;
  margin: 20px 0;
}

footer .areaLinksTop .links .column ul {
  list-style-type: none;
}

footer .areaLinksTop .links .column ul li {
  margin: 4px 0;
}

footer .areaLinksTop .links .column ul li a {
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-size: 0.9rem;
}

footer .areaLinksTop .links .column ul li a:hover {
  text-decoration: underline;
}

footer .areaLinksTop .areaCookies {
  width: 50%;
}

footer .areaLinksTop .areaCookies p {
  color: rgb(126, 126, 126);
  font-size: 0.9rem;
  margin: 15px 0;
}

footer .areaLinksTop .areaCookies p a {
  text-decoration: none;
  color: #0282f9;
}

footer .areaLinksTop #logoFooterBg {
  position: absolute;
  top: -15%;
  right: 13%;
  transform: scale(1.05);
}

footer .areaLinksBottom {
  background-color: #303030;
}

footer .areaLinksBottom .footerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .areaLinksBottom .footerButton .areaButton input {
  padding: 10px 15px;
  background: none;
  color: #fff;
  border: 3px solid #0282f9;
  cursor: pointer;
}

footer .areaLinksBottom .footerButton .areaSocial {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

footer .areaLinksBottom .footerButton .areaSocial h2 {
  color: #0282f9;
  font-size: 1.1rem;
  margin: 0 10px;
}

footer .areaLinksBottom .footerButton .areaSocial ul {
  list-style-type: none;
  display: flex;
}

footer .areaLinksBottom .footerButton .areaSocial ul li {
  margin: 8px;
}

