footer {
    .areaLinksTop {
        padding: 25px 0;
        position: relative;
        overflow: hidden;

        .links {
            width: 45%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .column {
                width: calc(100% / 3);

                h2 {
                    color: #fff;
                    font-size: 1.3rem;
                    margin: 20px 0;
                }

                ul {
                    list-style-type: none;

                    li {
                        margin: 4px 0;

                        a {
                            text-decoration: none;
                            color: rgb(126, 126, 126);
                            font-size: 0.9rem;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .areaCookies {
            width: 50%;

            p {
                color: rgb(126, 126, 126);
                font-size: 0.9rem;
                margin: 15px 0;

                a {
                    text-decoration: none;
                    color: #0282f9;
                }
            }
        }

        #logoFooterBg{
            position: absolute;
            top: -15%;
            right: 13%;
            transform: scale(1.05);
        }
    }

    .areaLinksBottom {
        background-color: #303030;

        .footerButton{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .areaButton input{
                padding: 10px 15px;
                background: none;
                color: #fff;
                border: 3px solid #0282f9;
                cursor: pointer;
            }

            .areaSocial{
                display: flex;
                align-items: center;
                padding: 20px 0;

                h2{
                    color: #0282f9;
                    font-size: 1.1rem;
                    margin: 0 10px;
                }

                ul{
                    list-style-type: none;
                    display: flex;

                    li{
                        margin: 8px;
                    }
                }
            }
        }
    }
}
