header {
    nav {
        .areaTopNav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 3px 0;

            h5 {
                margin: 0 20px;
                font-size: 0.7rem;
                color: #fff;

                span {
                    font-size: 0.5rem;
                    vertical-align: top;
                }
            }

            h5:nth-child(2) {
                cursor: pointer;
            }
        }

        .areaMenu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img {
                width: 80px;
                min-width: 80px;

                img {
                    width: 100%;
                }
            }

            .menu {
                ul {
                    list-style-type: none;
                    display: flex;

                    .active {
                        height: 115px;
                        border-bottom: 5px solid #0282f9;

                        a {
                            color: #0282f9 !important;
                        }
                    }

                    li {
                        height: 110px;
                        margin: 0 15px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        a {
                            text-decoration: none;
                            color: rgb(85, 85, 85);
                            font-weight: 600;
                            font-size: 0.9rem;

                            span {
                                font-size: 0.6rem;
                                padding: 5px;
                                vertical-align: 30%;
                                color: #0282f9;
                            }
                        }

                        &:hover a{
                            color: #0282f9;
                        }
                    }
                }
            }

            .search{
                display: flex;
                border-bottom: 3px solid #0282f9;
                margin-left: 30px;

                #inputSearch{
                    width: 100px;
                    border: none;
                    text-align: end;
                    padding-right: 5px;
                    padding-bottom: 3px;
                    outline: none;
                    font-weight: 600;
                }
            }
        }
    }
}
